Sphinx==4.0.2
sphinx-autobuild
sphinx-copybutton
sphinx-gitstamp
sphinx-markdown-builder
sphinx-material @ git+https://github.com/bashtage/sphinx-material.git@3c3d1533a8ef09dad6987e06fc5375867c18c529
sphinx-tabs
sphinxcontrib-applehelp
sphinxcontrib-contentui
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-osexample
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
