Markdown
mkdocs
mkdocs-versioning
mkdocs-macros-plugin
mkdocs-exclude
markdown-include
mkdocs-material
mkdocs-with-pdf
mkdocs-git-revision-date-plugin
mkdocs-material-extensions
mkdocs-bootstrap-tables-plugin
mkdocs-section-index
mkdocs-htmlproofer-plugin
mike
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
