[test_info]
comment = basic randgen test

[test_command]
command = ./gentest.pl --gendata=conf/drizzle/drizzle.zz --grammar=conf/drizzle/drizzle.yy --queries=1000 --threads=5

[test_servers]
servers = [[]]
