[test_info]
comment = blob test

[test_command]
command = ./gentest.pl --gendata=conf/drizzle/drizzle.zz --grammar=conf/engines/blobs.yy --Validators=None --queries=1000 --threads=3

[test_servers]
servers = [[]]
