[test_info]
comment = database recovery test

[test_command]
command = ./gentest.pl --gendata=conf/percona/many_indexes_percona.zz --grammar=conf/percona/many_indexes_percona.yy --threads=1 --queries=10 --Validators=None

[test_servers]
servers = [[]]
