[test_info]
comment = optimizer subquery test 

[test_command]
command = ./gentest.pl --gendata=conf/percona/outer_join_percona.zz --grammar=conf/percona/outer_join_percona.yy --queries=500 --threads=5

[test_servers]
servers = [[]]
