[test_info]
comment = single threaded test

[test_command]
command = ./gentest.pl --gendata=conf/drizzle/translog_drizzle.zz --grammar=conf/drizzle/translog_concurrent3.yy --Reporter=DrizzleInnoTrxLog  --queries=100 --threads=1

[test_servers]
servers = [[--innodb.replication-log],[]]
