[test_info]
comment = single threaded test

[test_command]
command = ./gentest.pl --gendata=conf/drizzle/translog_drizzle.zz --grammar=conf/drizzle/translog_concurrent1.yy --Reporter=DrizzleInnoTrxLogCrashRecovery  --queries=1000 --threads=3

[test_servers]
servers = [[--innodb.replication-log --plugin-add=shutdown_function ],[]]
