[DEFAULT]

[logger]
level=DEBUG
sinks=filelog,mysql_rest_service

[routing:static]
bind_address=0.0.0.0
routing_strategy=round-robin
protocol=classic
client_ssl_mode=PREFERRED
server_ssl_mode=PREFERRED
server_ssl_verify=DISABLED

[http_server]

[mysql_rest_service]
metadata_refresh_interval=1
mysql_read_write_route=static
wait_for_metadata_schema_access=320
level=debug
