[test_info]
comment = single threaded test

[test_command]
command = ./gentest.pl --gendata=conf/drizzle/translog_drizzle.zz --grammar=conf/drizzle/translog_concurrent2.yy --Reporter=DrizzleTransactionLog  --queries=75 --threads=3

[test_servers]
servers = [[--transaction-log.enable],[]]
