policy_module(xtrabackup, 1.0.0)

require {
  type bin_t;
  type sssd_var_lib_t;

  # See 'write to destination directory' below section for details
  # type admin_home_t;
  type user_home_t;
  type user_home_dir_t;

  type unconfined_t;
  type unreserved_port_t;
  type xtrabackup_t;
  type tmp_t;
  type mysqld_etc_t;
  type xtrabackup_exec_t;
  type cert_t;
  type mysqld_t;
  type user_devpts_t;
  type mysqld_port_t;
  type mysqld_var_run_t;
  type var_lib_t;
  type mysqld_db_t;
  type sssd_t;
  type shell_exec_t;
  type system_dbusd_t;
  type setroubleshootd_t;

  class chr_file { append getattr read write };
  class file { create execute execute_no_trans getattr lock map open read rename unlink write };
  class dir { add_name create getattr open read remove_name rmdir search write };
  class lnk_file read;
  class sock_file { getattr write };
  class unix_stream_socket connectto;
  class capability { dac_override dac_read_search sys_nice };
  class tcp_socket { connect create name_connect read setopt shutdown write };
  class process { setsched transition };

  role unconfined_r;
}

########################################
#
# Declarations
#

type xtrabackup_t;
domain_type(xtrabackup_t);
type xtrabackup_exec_t;
files_type(xtrabackup_exec_t);

type xtrabackup_data_t;
files_type(xtrabackup_data_t);

role unconfined_r types xtrabackup_t;

########################################
#
# xtrabackup policy
#

allow xtrabackup_t xtrabackup_exec_t : file { ioctl read getattr lock execute execute_no_trans entrypoint open };
type_transition unconfined_t xtrabackup_exec_t : process xtrabackup_t;
allow unconfined_t xtrabackup_t : process transition;

allow xtrabackup_t xtrabackup_exec_t:file map;
allow xtrabackup_t user_devpts_t:chr_file { append read write };

allow xtrabackup_t mysqld_db_t:dir { open read write search getattr };
allow xtrabackup_t mysqld_db_t:file { open read write create getattr };
allow xtrabackup_t mysqld_etc_t:file { getattr read open };

allow xtrabackup_t mysqld_var_run_t:sock_file { write getattr };
allow xtrabackup_t mysqld_t:unix_stream_socket connectto;
allow xtrabackup_t self:tcp_socket { create connect shutdown setopt getopt read write };
allow xtrabackup_t mysqld_port_t:tcp_socket name_connect;
allow xtrabackup_t unreserved_port_t:tcp_socket name_connect;

allow xtrabackup_t shell_exec_t:file { map execute execute_no_trans };

allow xtrabackup_t self:capability { dac_override dac_read_search };
allow xtrabackup_t self:process setsched;
allow xtrabackup_t self:capability sys_nice;

allow xtrabackup_t sssd_var_lib_t:dir search;
allow xtrabackup_t sssd_var_lib_t:sock_file write;
allow xtrabackup_t sssd_t:unix_stream_socket connectto;

allow xtrabackup_t cert_t:dir { search read };
allow xtrabackup_t cert_t:file { open read getattr };
allow xtrabackup_t user_devpts_t:chr_file { ioctl getattr };

# which
allow xtrabackup_t bin_t:file { execute execute_no_trans map };

# ------------------- write to destination directory -------------------
# Use these rules if corresponding tagging rules are present in xtrabackup.fc file.
# This way it is possible to specify the exact directory where backups can be stored.
# allow xtrabackup_t xtrabackup_data_t:dir { create write add_name remove_name read rmdir getattr search open };
# allow xtrabackup_t xtrabackup_data_t:file { create open write getattr read lock rename unlink };

# Use these rules to allow backups to be stored in regular user's home directory
allow xtrabackup_t user_home_t:dir { create write add_name remove_name read rmdir getattr search open };
allow xtrabackup_t user_home_t:file { create open write getattr read lock rename unlink };
allow xtrabackup_t user_home_dir_t:dir { read getattr search open };

# Use these rules to allow backups to be stored in root's home directory
# allow xtrabackup_t admin_home_t:dir { create write add_name remove_name read rmdir getattr search open };
# allow xtrabackup_t admin_home_t:file { create open write getattr read lock rename unlink };
# ----------------------------------------------------------------------

# tmp directory
allow xtrabackup_t tmp_t:dir { write read add_name };
allow xtrabackup_t tmp_t:file write;

# restore
allow xtrabackup_t var_lib_t:dir { add_name create read write };
allow xtrabackup_t mysqld_db_t:dir { add_name create };
allow xtrabackup_t var_lib_t:file { create open write getattr };

# encrypt
allow xtrabackup_t cert_t:lnk_file read;

# connect over ip
allow system_dbusd_t self:capability net_admin;
allow system_dbusd_t setroubleshootd_t:process { noatsecure rlimitinh siginh };

